*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1100px;
}

ul{
    padding: 0px;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

/* Banner Start */
.banner{
    padding: 100px 0px;
}
/* Banner End */
/* joinnetwork start */
.joinnetwork ul li{
    display: flex;
    align-items: center;
    gap : 10px;
    margin-bottom: 20px ;

}
/* joinnetwork end */
/* awards wrapper start */
.awards{
    padding: 100px 0px;
}
.awards-wrapper > div > div > div{
    box-shadow: 0px 4px 4px 0px #0000002b;
    border-radius: 20px;
}

@media only screen and (max-width: 600px){
    .awards-wrapper > div > div > div{
        width : 90%; 
    }  
}

/* awards wrapper end */