*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
}

ul{
    padding: 0px;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

.banner,
.awards, 
.community
{
    padding: 50px 0px;
}

/* joinnetwork start */
.joinnetwork ul li{
    display: flex;
    align-items: center;
    gap : 10px;
    margin-bottom: 20px ;

}
/* joinnetwork end */
/* awards wrapper start */
.awards-wrapper > div > div > div{
    box-shadow: 0px 4px 4px 0px #0000002b;
    border-radius: 20px;
}

@media only screen and (max-width: 600px){
    .awards-wrapper > div > div > div{
        width : 90%; 
    }  
}

/* awards wrapper end */
/* community starts */
.community-wrapper > div > div > div{
    padding: 30px;
    box-shadow: 14px 22px 52px -12px #7f7f7f2b;
}
.community{
    background: linear-gradient(0deg,#F4F9FF 14%,F1F6FD 30%,#F1F6FD 64%,#FFFFFF 100%);
}
/* community ends */
/* members wrapper start */
.members-wrapper > div > div > div{
    padding: 30px;
    box-shadow: 14px 22px 52px -12px black;
    border-radius: 20px;
}
.members-wrapper > div > div > div:hover{
    background-color: aquamarine;
}

/* members wrapper end */